.g-container .m-cart{
    position: relative;
    padding: 0;
    display: none;
}
.g-container .m-empty{
    display: none;
    width: 600px;
    margin: 100px auto 80px auto;
    padding: 0 0 100px 120px;
    background: url(./../img/empty.png) no-repeat;
}
.g-container .m-empty .word{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
.m-cart .m-head{
    padding-bottom: 15px;
    border-top: none;

}
.m-cart .m-head .all{
    position: relative;
    padding-left: 30px;
}
.m-cart .select{
    opacity: 0;
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    z-index: 10;
}
.m-cart .selectIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    z-index: 9;
    background: url(/template/m/img/userIcon.png) no-repeat -81px 0;
}
.m-cart .selectIcon.on{
    background-position: -101px 0;
}
.m-cart .m-head div{
    font-size: 16px;
    color: #404040;
}
@media all and (max-width: 1440px) {
    .m-cart .m-head div{
        font-size: 14px;
    }
}
.m-cart .m-body .c-item{
    padding: 30px 0;
    border-bottom: 2px #dfdfdf solid;
}
@media all and (max-width: 1440px) {
    .m-cart .m-body .c-item{
        padding: 20px 0;
    }
}
.m-cart .m-body .img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}


.m-cart .m-body .profile .name{
    font-size: 15px;
    color: #404040;
}
.m-cart .m-body .profile .fold{
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color: #be1919;
}
@media all and (max-width: 1100px) {
    .m-cart .m-body .profile{
        margin-top: 10px;
    }
    .m-cart .m-body .profile .fold{
        position: relative;
    }
}
.m-cart .m-body .fold .detail{
    font-size: 12px;
    color: inherit;
    cursor: pointer;
}
.m-cart .m-body .handleNum{
    position: relative;
    margin-top: 25px;
}
.m-cart .m-body .handleNum .num{
    height: 20px;
    width: 30px;
}

.m-cart .m-body .handleNum .add,
.m-cart .m-body .handleNum .sub{

    cursor: pointer;
    font-size: 27px;
    color: #272727;
}
.m-cart .m-body .handleNum .add{
    position: absolute;
    top:4px;
    margin-left: 2px;
}
.m-cart .m-body .c-price{
    position: relative;
}
.m-cart .m-body .c-price .mainPrice{
    font-size: 15px;
    color: #101010;
}
.m-cart .m-body .c-price .additionPirce{
    font-size: 15px;
    color: #be1919;
}
.m-cart .m-body .c-price .additionPirce .add{
    color: #be1919;
    position: absolute;
    left: 15%;
}
.m-cart .m-body .c-subtotal,
.m-cart .m-body .c-handle,
.m-cart .m-body .c-handle .delete{
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    color: #1d1d1d;
}
@media all and (max-width: 1440px) {
    .m-cart .m-body .c-subtotal,
    .m-cart .m-body .c-handle,
    .m-cart .m-body .c-handle .delete{
        font-size: 16px;
    }
}
.m-cart .m-body .c-handle .delete{
    color: #ff4400;
    font-size: 14px;
}

.m-cart .m-footer{

}
.m-cart .m-footer .desc,
.m-cart .m-footer .total{
    font-size: 15px;
    color: #101010;
    line-height: 1.75;
}
.m-cart .m-footer .price{
    font-size: 25px;
    color: #ff4400;
}
.m-cart .m-footer .submit button{
    background-color: #ff4400;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.75;
    padding: 0 60px;
}
.m-recommend{
    margin-top: 20px;
}
.m-recommend .m-head{
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 600px;
    border-bottom: 1px solid #a5a5a5;
}

.m-recommend .m-head .title{
    position: absolute;
    display: inline;
    background-color: #ffffff;
    top:-10px ;
    padding : 0 10px;
    left: 265px;
    color: #404040;
}