

.g-container .m-order{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 16px;
}



.m-order .m-list{
    margin-top: 20px;
    width: 100%;
}
.m-order .m-list .c-item{
    position: relative;
    border: 1px solid #999999;
    border-radius: 3px;
}
.m-order .m-list .c-item+.c-item{
    margin-top: 20px;
}
.m-order .m-list .m-head{
    padding: 10px 5%;
    border-bottom: 1px solid #bebebe;
}
.m-order .m-list .status{
    font-size: 16px;
    color: #606060;
    line-height: 1.7;
}
.m-order .m-list .info .item{
    font-size: 12px;
    color: #404040;
}
.m-order .m-list .info .item+.item{
    position: relative;
    margin-left: 10px;
}
.m-order .m-list .info .item+.item:before{
    content: '|';
    position: absolute;
    color: #202020;
    font-size: 12px;
    left: -8px;
}
.m-order .m-list .c-item .m-body{
    padding: 20px 5%;
}
.m-order .m-list .right{
    width: 20%;
    font-size: 14px;
    color: #404040;
}
.m-order .m-list .c-subtotal{
    font-size: 16px;
}
.m-order .m-list .left{
    width: 80%;
}
.m-order .m-list .c-desc{
    text-align: left;
}

.m-order .img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.m-order .m-list .profile{
    height: 100%;
}

.m-order .m-list .name{
    font-size: 14px;
}
.m-order .m-list .fold{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #bd3337;
    margin: 0;
    cursor: pointer;
}
@media all and (max-width: 1100px) {
    .m-order .m-list .profile{
        margin-top: 10px;
    }
    .m-order .m-list .fold{
        position: static;
        font-size: 12px;
        color: #bd3337;
        margin: 0;
    }

}
.m-order .m-list .c-price{
    font-size: 15px;
    padding-left: 5%;
}

.m-order .c-price .additionPirce{
    position: absolute;
    color: #be1919;
    bottom: 0;
}
.m-order .additionPirce .add{
    position: absolute;
    color: #be1919;
    left: -150%;
}


.m-order .m-list .num{
    font-size: 16px;
}
@media all and (max-width: 1440px) {
    .m-order .m-list .num{
        font-size: 14px;
    }
}
.m-order .m-list .handle{
    margin-top: 20px;

}

.m-order .handle .flow,
.m-order .handle .other{
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 14px;
    color: #ff4400;
    cursor: pointer;
}
.m-order .handle .flow:hover,
.m-order .handle .other:hover{
    text-decoration: underline;
}

/*物流信息*/
.m-flowMsg{
    position: absolute;
    padding: 16px 28px;
    width: 450px;
    right: 0;
    left: 0;
    margin: auto;
    top: 220px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #888;
}

.m-flowMsg .m-head{
    height: 38px;
    border-bottom: 1px solid #969696;
    line-height: 38px;

}

.m-flowMsg .title,
.m-flowMsg .bianhao{
    font-size: 16px;
}

.m-flowMsg .m-body{
    padding: 50px 0 25px 0;
    font-size: 16px;
    line-height: 2.0;
}
.m-flowMsg .copy{
    font-size: 16px;
    color: #ff4400;
    margin-left: 20px;
    cursor: pointer;
}
.m-flowMsg .copy:hover{
    text-decoration: underline;
}




