.m-address .m-head{
    font-size: 18px;
    color: #404040;
    padding-bottom: 20px;
    border-bottom: 1px solid #656565;
}
.m-address .m-body{
    position: relative;
    margin-top: 30px;
}
.m-address .m-body .pre,
.m-address .m-body .next{
    position: absolute;
    height: 100%;
    width: 5%;
    z-index: 10;
    cursor: pointer;
}
.m-address .m-body .pre{
    left: 0;
}
.m-address .m-body .next{
    right: 0;
}
.m-address .m-body .pre span,
.m-address .m-body .next span{
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto 0;
    display: block;
    width: 11px;
    height: 20px;
    background: url('./../img/userIcon.png') no-repeat center;
}
.m-address .m-body .pre span{
    background-position: -27px 0;
}
.m-address .m-body .next span{
    background-position: -38px 0;
    right: 0;
}
.m-address .m-body .m-main{
    position: relative;
    z-index: 8;
    margin:0 5%;
    width: 90%;
    height: 200px;
}



