.m-address .m-head{
    font-size: 18px;
    color: #404040;
    padding-bottom: 20px;
    border-bottom: 1px solid #656565;
}
.m-address .m-body{
    position: relative;
    margin-top: 30px;
}
.m-address .m-body .pre,
.m-address .m-body .next{
    position: absolute;
    height: 100%;
    width: 5%;
    z-index: 10;
    cursor: pointer;
}
.m-address .m-body .pre{
    left: 0;
}
.m-address .m-body .next{
    right: 0;
}
.m-address .m-body .pre span,
.m-address .m-body .next span{
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto 0;
    display: block;
    width: 11px;
    height: 20px;
    background: url('./../img/userIcon.png') no-repeat center;
}
.m-address .m-body .pre span{
    background-position: -27px 0;
}
.m-address .m-body .next span{
    background-position: -38px 0;
    right: 0;
}
.m-address .m-body .m-main{
    position: relative;
    z-index: 8;
    margin:0 5%;
    width: 90%;
    height: 200px;
}
.m-sure .m-head{
    font-size: 18px;
    color: #404040;
    padding-bottom: 20px;

}
.m-sure .m-body{
    border: 1px solid #656565;
    border-left: none;
    border-right: none;
}
.m-sure .m-body .c-item{
    padding: 50px 0;
}
.m-sure .m-body .c-item+.c-item{
    border-top: 2px solid #dfdfdf;
}
.m-sure .m-body .img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.m-sure .m-body .profile .name{
    font-size: 15px;
    color: #404040;
}
.m-sure .m-body .profile .fold{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #be1919;
}
@media all and (max-width: 1100px) {
    .m-sure .m-body .profile{
        margin-top: 10px;
    }
    .m-sure .m-body .profile .fold{
        position: relative;
    }
}

.m-sure .m-body .c-price .mainPrice{
    font-size: 15px;
    color: #101010;
}
.m-sure .m-body .c-price .additionPirce{
    position: relative;
    font-size: 15px;
    color: #be1919;
    margin-top: 30px;
}
.m-sure .m-body .c-price .additionPirce .add{
    color: #be1919;
    position: absolute;
    left: 15%;
}
.m-sure .m-body .subtotal{
    font-size: 20px;
    color: #101010;
}

.m-sure .m-footer{
    margin-top: 30px;
}

.m-sure .m-footer .c-item{
    margin-bottom: 10px;
}
.m-sure .m-footer .name{
    font-size: 16px;
    color: #101010;
}
.m-sure .m-footer .price{
    font-size: 20px;
    color: #ff4400;
    padding-left: 10px;
}
.m-sure .m-footer .handle{
    margin-top: 60px;
}
.m-sure .m-footer .totalPrice{
    font-size: 20px;
    color: #101010;
    margin-bottom: 10px;
}
.m-sure .m-footer .totalPrice span{
    font-size: 25px;
    color: #ff4400;
}
.m-sure .m-footer .submit{
    font-size: 18px;
    color: #ffffff;
    background-color: #ff4400;
    padding: 0 60px;
}


